@import '../../styles/variables.scss';

.mainWrapper {
  @include center-column;
  text-align: center;
  margin: $margin;

  @media screen and (min-width: $media-min-width) {
    flex-direction: row;
    margin: $margin * 2 $margin;
  }

  .reviewWrapper {
    margin: $margin/2;

    img {
      border-radius: 100%;
      max-width: 150px;
      margin-bottom: 1rem;
      border: 1px solid transparent;
      transition: border 0.2s;

      &:hover {
        border: 1px solid $dark-grey;
      }
    }

    .textWrapper {
      p {
        margin: 0;
      }

      :first-child {
        font-size: 0.875rem;
      }
    }
  }
}
