@import '../styles/variables.scss';

.tripCard {
  @include center-row;
  justify-content: flex-start;
  max-width: 425px;
  margin: 0.5rem auto;
  border-radius: 0.4rem;
  box-shadow: 0 0 40px 15px rgba($light-grey, 0.2);
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 40px 15px rgba($light-grey, 0.5);
  }

  @media screen and (min-width: $media-min-width) {
    width: 425px;
    margin: 0.5rem;
  }

  img {
    justify-self: flex-end;
    object-fit: cover;
    width: 140px;
    height: 140px;
    border-radius: 0.4rem;
    margin: 0.5rem;
  }

  .textWrapper {
    flex: 1;
    @include center-column;
    text-align: center;
    margin: 0.5rem;

    h2 {
      margin: 0;
    }

    p {
      margin: 0.5rem 0 0 0;
    }
  }
}
