@import '../../styles/variables.scss';

.tripCardWrapper {
  margin: auto;

  @media screen and (min-width: $media-min-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem auto;
    max-width: 900px;
  }
}
