@import '../../styles/variables.scss';

.tripWrapper {
  @include center-column;
  margin: $margin 0 5rem;

  > * {
    margin: 0 $margin;
  }

  h1 {
    font-size: 2rem;
    text-align: center;

    @media screen and (min-width: $media-min-width) {
      font-size: 3rem;
    }
  }

  h3 {
    margin-bottom: $margin;
  }

  .heroImage {
    object-fit: cover;
    width: 100vw;
    max-height: 500px;
  }

  .contentWrapper {
    @include center-column;
    max-width: $max-text-width;

    @media screen and (min-width: $media-min-width) {
      margin: 3rem 0;
    }

    img {
      width: $max-text-width;
      max-width: 100vw;
      margin: $margin/2 0;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5 {
      margin: $margin/2 $margin;
    }
  }

  .price {
    margin: $margin 0 0 0;
    font-weight: bold;
    text-align: center;
    font-size: 1.25rem;
    color: $blue;

    @media screen and (min-width: $media-min-width) {
      margin: $margin 0;
    }
  }

  .buttonWrapper {
    margin: 0;

    a {
      margin: 1rem 0.5rem;
    }
  }
}
