@import '../styles/variables.scss';

.header {
  background-color: $pink;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $max-width;
  margin: auto;
  padding: 0 2rem;
}

.tripsLink {
  position: relative;
  @include animated-underline;

  &:hover::after {
    width: 100%;
  }
}

.homeLink {
  @include center-row;
  justify-content: flex-start;

  img {
    max-height: 2rem;
    margin: 0 0 0 0.3rem;
  }
}

.footer {
  @include center-column;
  background-color: $pink;
  padding: 5rem 0;

  .homeLink {
    h2 {
      margin: 0;
      font-size: 2.25rem;
    }

    img {
      max-height: 2.5rem;
    }
  }

  p {
    font-style: italic;
  }
}
