@import './variables.scss';

.primaryButton {
  background-color: $blue;
  color: $white;
  padding: 1rem 2rem;
  border-radius: 100rem;
  display: inline-block;

  &:hover {
    background-color: $dark-blue;
  }
}

.secondaryButton {
  background-color: $white;
  color: $black;
  padding: 1rem 2rem;
  border-radius: 100rem;
  border: 1px solid $dark-grey;
  display: inline-block;

  &:hover {
    border: 1px solid $black;
  }
}
