@import '../../../styles/variables.scss';

.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 1rem;

  input {
    line-height: 1.6;
    margin-top: 0.2rem;
    padding: 0.5rem;
    border: 1px solid $light-grey;
    font-family: 'Montserrat';
    font-size: 1rem;
    transition: border 0.2s;

    &.invalid {
      border: 1px solid $warning-red;
    }

    &:focus {
      border: 1px solid $blue;
      outline: none;
    }
  }

  .warningImg {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
  }
}
